/*  Style sheet for Oficina de Prácticas Profesionales, Relaciones con Empresa y Egresados
 *  for Pontificia Universidad Javeriana, Bogotá
 *
 *  file:      f-layout.css
 *  design by: Interlecto
 *  copyleft:  2013
 *
 *  This is the main layout CSS file, describing how the main elements of page layout
 *  are distributed.
 *
 *  This style is inspired by Bootstrap and combines a SEO-friendly approach for markup
 *  with sensitive design and a full screen trhee-column design with main content
 *  at the center.
 *
 *  full screen:   1080px with columns at 250px (10px) 600px (10px) 210px
 *  reduced f-s:   >900px with columns at 240px (5px) 450~600px (5px) 200px
 *  medium screen: >600px left and right columns shifted to bootom, pairwise
 *  small screen:  <600px left and right columns shifted to bootom, one after another
 *
 */
*{margin:0;border:none;padding:0}
body{}
/*-common-*/.hidden{display:none}
/*-common-*/.clear{clear:both}
/*-common-*/.clearafter:after{display:block;content:' ';height:0;clear:both}
/*-common-*/ul{list-style-type:none}
/*-common-*/ul li{display:block}
#wrapper{z-index:1;margin:55px auto 5px;width:1080px;background:rgba(200,100,0,.3)}
	#header{position:relative;height:140px;background:rgba(0,200,100,.3)}
	.big-header #header{height:300px}
		#sitenotice{float:left}
			#sitename{display:block;width:360px;height:120px;margin:0}
			#sitemotto{display:block;width:360px;height:20px;margin:0}
			#sitenotice br{display:none}
		#section{z-index:9999}
			#section-upper{position:absolute;margin:0;bottom:105px;left:365px;right:0}
			#section-lower{position:absolute;margin:0;top:145px;height:100px;left:0;right:0}
	#body{position:relative;padding-top:5px;background:rgba(0,100,200,.3)}
		#main{}
			#content{padding:1ex}
		#top_area{}
			#top-bar{position:fixed;top:5px;left:0;right:0;height:50px;background:rgba(0,0,0,.3)}
				#search{float:right;bakcground:red}
			#header_area{position:absolute;z-index:1;top:-140px;height:140px;left:360px;right:0;background:rgba(250,250,250,.3)}
			.big-header #header_area{top:-300px}
			#banner_area{position:absolute;top:-160px;height:160px;left:0;right:0;background:rgba(150,150,150,.3)}
		#left_area{width:250px}
		#right_area{width:210px}
	#body:after{display:block;content:' ';height:0;clear:both}
	#footer:before{clear:both}
	#footer{position:relative;background:rgba(100,0,200,.3)}
/*-menu-*/	.MenuBarHorizontal{}
/*-menu-*/	.MenuBarHorizontal li{position:relative;float:left;padding:5px}
/*-menu-*/	.MenuBarHorizontal ul{display:none}
/*-menu-*/	.MenuBarHorizontal li:hover>ul{position:absolute;display:block}
/*
 *  3 column layout
 */
/*
	.col-3 #body{clear:both;float:left;width:100%;overflow:hidden;margin-bottom:1ex}
		.col-3 #main{position:relative;float:left;width:100%;right:25%}
			.col-3 #columns{position:relative;float:left;width:100%;right:50%}
				.col-3 #content{position:relative;float:left;width:46%;left:102%}
				.col-3 #left_area{position:relative;float:left;width:225px;left:31%}
				.col-3 #right_area{position:relative;float:left;width:21%;left:85%}
*/
	.col-3 #body{}
		.col-3 #main{float:right;margin-left:-250px;width:100%}
			.col-3 #content{margin-left:260px;margin-right:220px}
		.col-3 #left_area{float:left}
		.col-3 #right_area{position:absolute;top:5px;right:0;bottom:0;overflow:hidden}

	.col-2l #body{}
		.col-2l #main{float:right;margin-left:-250px;width:100%}
			.col-2l #content{margin-left:260px}
		.col-2l #left_area{float:left}

	.col-2r #body{}
		.col-2r #main{float:left;margin-right:-210px;width:100%}
			.col-2r #content{margin-right:220px}
		.col-2r #right_area{float:right}
